div,
p,
b {
    outline: medium solid red;
}

body {
    display: flex;
    flex-flow: column;
}

.section1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 0px 100px 50px 100px;
}

.section1 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.section1 .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
}

.section2 {
    color: #1F2937;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0px 100px 50px 100px;
}

.section2 .image-sets {
    display: flex;
}

.section3 {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 50px 100px 50px 100px;
}

.section4 {
    display: flex;
    justify-content: center;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    margin: 50px;
    height: 100px;
    width: 700px;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

b {
background-color: #3882F6;
color: white;
}

a {
    color: white;
    text-decoration: none;
}