body {
    display: flex;
    flex-flow: column;
}

.section1 {
    background-color: #1F2937;
}

.section2{
}

.section3{
    background-color: #E5E7EB;
}

.section4{
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}